<div class="main-container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="col-sm-7 col-sm-offset-2 search-bar-padding">
            <search-bar></search-bar>
        </div>
    </nav>
    <div class="container">
        <div class="intro-title">Can't find a video to watch?
            <span class="main-title">
                &nbsp;Sort through your favorites below!
            </span>
        </div>
        <table-container></table-container>
    </div>
    <span class="invisible-text"><a href="https://github.com/alexhawkins">&copy; Alex Hawkins &mdash; 2015</a></span>
</div>
